# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
db.sqlite3
media/
static/
staticfiles/

# IDE
.idea/
.vscode/
*.iml

# Pytest
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
